<!-- Template for using columns inside columns -->

<div class="row">
  <!-- Use offset to create empty columns on the side -->
  <div class="col-8 offset-2 card card-dashboard">
    <div class="row">
      <!-- Create as many divs as you want, as long as col adds up to 12 -->
      <div class="col-12">
        <!-- Place content here -->
        <h2>Dashboard</h2>

        <div class="dashboard-content">
        <p><%= test_helper_method(current_user) %></p>
        <p>Welcome <%= @user.first_name.capitalize %></p>
        </div>

        <div class="dashboard-button">
          <%= link_to "complete profile", new_after_sign_up_path, class: "btn btn-flat" %>
          <%#= link_to "Fill adivce preference", root_path, class: "btn btn-ghost" %>
          <%#= link_to "Prepare meeting", root_path, class: "btn btn-ghost" %>
          <%#= link_to "Find mentor", root_path, class: "btn btn-ghost" %>
        </div>

      </div>
    </div>
  </div>
</div>






