<!-- Template for using columns inside columns -->

<div class="row">
  <!-- Use offset to create empty columns on the side -->
  <div class="col-8 offset-2 card card-dashboard">

    <p class="time" style="text-align: right; font-size: 12px;"><%= Time.now.strftime('%A %d %B, %R') %></p>

    <div class="row">
      <!-- Create as many divs as you want, as long as col adds up to 12 -->
      <div class="col-12">
        <!-- Place content here -->
        <h2><%= @user.first_name.capitalize %>'s dashboard</h2>

        <div class="dashboard-content">
        <p><%#= test_helper_method(current_user) %></p>
        <!-- <h4>Welcome <%= @user.first_name.capitalize %></h4> -->
        </div>
        <%= render "dashboard/shared/dashboard_links" %>
      </div>
    </div>
  </div>
</div>
