<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <span><%= cl_image_tag message.user.photo.key, class: "avatar-small"%></span><br>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>


