// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F4F4F4;

$m-grey: #515151;
$m-purple: #3835CA;
$m-dark-grey: #131313;
$m-tan: #FFDAAF;
$m-white: #FFFFFF;
$m-grey-blue: #E4EBF7;
$m-light-grey: #696969;
$m-dark-purple: #1512B8;


