.card-dashboard {
  padding: 20px 50px;
  display: flex;
  text-align: center;
}

.dashboard-content {
  border-top: 1px solid #131313;
}

.cactus-illustration-4 {
  position: relative;
  left: -20px;
  top: 191px;
}

.plant-illustration-5 {
  position: relative;
  left: -900px;
  top: 191px;
}

.card-dashboard-review {
  padding: 14px 30px;
  display: flex;
  flex-direction: column;
}

.review-date {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  color: #515151;
}

