// Specific CSS for your home-page

// About
.homepage-text {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  // p { text-align: left; } Use this?
  width: 440px;
}

.home-page-block-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


// Who are we
.white-background-home {
  background-color: white;
}
.home-page-block-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}

// How it works
.blue-background-home {
  background-color: $m-grey-blue;
}

.home-page-block-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.how-it-works-steps {
  display: flex;
  justify-content: space-between;
}

// Testimonials

.home-page-block-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

