// Specific CSS for your home-page

.homepage-text {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  // p { text-align: left; } Use this?
  width: 440px;
}

.home-page-block-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home-page-block-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}

.white-background-home {
  background-color: white;
}

