.container-title {
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-sm-mentor {
  margin-bottom: 20px;
  margin-top: 20px;
}

.mentor-info > h2 {
  color: #1512B8;
  font-weight: bold;
}
