<div class="row">
  <div class="col-8 offset-2 card p-3">

    <h2>Advice Preference</h2>
    <p>To connect you to the right person please fill the advice preference form.</p>

    <%= simple_form_for [ @user, @advice_preference ], url: new_after_sign_up_advice_preference_path(@user) do |f| %>

      <%#= f.input :radio, as: :select, include_blank: false, collection: ['Yes','No'] %>
      <%= f.association :industry %>
      <%= f.association :subject, collection: AdvicePreference.subjects %>

      <div class="form-actions">
        <%= f.button :submit, "Submit", class: "btn btn-flat" %>
      </div>

    <% end %>

 </div>
</div>

