 <div class="footer">
    <div>
      <h1 style="font-size: 18px;">Mentoree</h4>
        <div class='footer-items'>
          <p class="paragraph-note">Copyright 2021 Mentoree Software.</p>
          <p>All rights reserved</p>
        </div>
        <div class="footer-links">
          <i class="fab fa-reddit"></i>
          <i class="fab fa-github"></i>
          <i class="fab fa-linkedin"></i>
        </div>
    </div>
  </div>
