<div class="footer">
  <div class="footer-centered-text">
    <h1 style="font-size: 18px;">Mentoree</h1>
    <p class="paragraph-note">Copyright 2021 Mentoree Software.</p>
    <p class="paragraph-note">All rights reserved</p>
    <div class="footer-icons">
      <a href="" class="fab fa-reddit"></a>
      <a href="" class="fab fa-github"></a>
      <a href="" class="fab fa-linkedin"></a>
    </div>
  </div>
</div>
