<!-- ----------- NavBar created -->
<div class="navbar">
  <h2>Mentoree</h2>
  <nav>
        <ul class='nav_links'>
          <li><a href='#'>about</a></li>
          <li><a href='#'>how it works?</a></li>
          <li><a href='#'>testimonials</a></li>
          <li><a href='#'>contact</a></li>
        </ul>
  </nav>
      <a class="cta" href="#"><button class="btn-log-in">Log in</button></a>
</div>
