<!-- ----------- NavBar created -->
<header>
  <h2>Mentoree</h2>
  <nav>
        <ul class='nav_links'>
          <li><a href='#'>about</a></li>
          <li><a href='#'>how it works?</a></li>
          <li><a href='#'>testimonials</a></li>
          <li><a href='#'>contact</a></li>
        </ul>
  </nav>
      <a class="cta" href="#"><button class="btn-log-in">Log in</button></a>
</header>


<!-- ----------- Footer created -->

<div class="footer">
  <div>
    <h4>Mentoree</h4>
      <div class='footer-items'>
        <p>Copyright 2021 Mentoree Software.</p>
        <p>All rights reserved</p>
      </div>
      <div class="footer-links">
        <i class="fab fa-reddit"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin"></i>
      </div>
  </div>
</div>












