<!-- Mentor big profile card -->
<div class=" card card-mentor-big">
  <div class="row  d-flex justify-content-center">
    <div class="mentor-avatar-big col-2">
      <img class="avatar-large" src="https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png" alt="">
    </div>
    <div class="mentor-info col-5 text-left">
      <h2>FirstName LastName</h2>
      <h3>Industry</h3>
      <p>Job role</p>
      <p>Description</p>
    </div>
    <div class="stats-mentor col-1">
      <h4>24 <i class="fas fa-eye"></i></h4>
      <h4>18 <i class="far fa-thumbs-up"></i></h4>
    </div>
  </div>
</div>

<!-- Mentor small profile card -->
<div class="card">

</div>

<!-- Mentor profile card -->
<div class="card">

</div>
