<div class='nav-container'>
  <div class='nav-title'>Mentoree</div>
    <div class='nav-items-1'>
      <div>
        <li>about</li>
        <li>how it works?</li>
        <li>testimonials</li>
        <li>contact</li>
      </div>
    </div>
  <div class='nav-items-2'>

  </div>
</div>
