.btn-ghost {
  padding: 12px 44px;
  border-radius: 30px;
  border-color: $m-purple;
  color: $m-purple;

}

.btn-ghost:hover {
  padding: 12px 44px;
  border-radius: 30px;
  border-color: $m-dark-purple;
  color: white;
  background-color: $m-dark-purple;
}


.btn-flat {
  padding: 12px 44px;
  border-radius: 30px;
  background: $m-purple;
  color: white;
}

.btn-flat:hover {
  padding: 12px 44px;
  border-radius: 30px;
  background: $m-dark-purple;
  color: white;
}
