.btn-ghost {
  padding: 12px 44px;
  border-radius: 30px;
  border-color: $m-purple;
  color: $m-purple;
}

.btn-ghost:hover {
  padding: 12px 44px;
  border-radius: 30px;
  border-color: $m-dark-purple;
  color: $m-dark-purple;
}


.btn-flat {
  padding: 12px 44px;
  border-radius: 30px;
  background: $m-purple;
  color: white;
}

.btn-flat:hover {
  padding: 12px 44px;
  border-radius: 30px;
  background: $m-dark-purple;
  color: white;
}

.btn-upload-photo {
  border: 1px solid $m-dark-purple;
  color: $m-dark-purple;
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
  background: white;
  border-radius: 30px;
}

.fa-comment-dots:hover {
  font-size: 38px;
  color: #131313;
}

.fa-user-circle:hover {
  font-size: 38px;
  color: #131313;
}

.fa-mobile-alt:hover {
  font-size: 38px;
  color: #131313;
}
