.contact-icons {
  font-size: 32px;
  margin: 20px auto;
  letter-spacing: 10px;
  color: $m-dark-purple;
}

.contact-icons a {
  color: $m-dark-purple;
}

.contact-icons:hover {
  color: $m-dark-purple;
}
