
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 5%;

}

.footer-items {

}

h4 {
  font-family: "Suez One";
  font-size: 18px;
  align-content: center;
  text-align: center;

}

p {
  font-family: "Work Sans";
  font-size: 14px;
  margin: 0px;
  text-align: center;

}

.footer-links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
