.container-form {
  text-align: center;
  .form-text {
    text-align: left;
    margin-left: 10px;
  }
}

.form-single-text {
  padding: 5px;
  margin: 10px;
}

.input-length {
  width: 430px;
  height:30px;
  background-color: #E4EBF7;
  border-color: #E4EBF7;
  border-radius: 25px;
}

.input-length-2 {
  width: 430px;
  height:230px;
  background-color: #E4EBF7;
  border-color: #E4EBF7;
  border-radius: 25px;
}

.form-inputs input {
  border-radius: 24px;
  background-color: $m-grey-blue;
}

.form-inputs association {
  border-radius: 24px;
  background-color: $m-grey-blue;
}

.form-control {
  border-radius: 50px;
  background-color: $m-grey-blue;
}

.thumbs-up + label {
  color: grey;
  font-size: 13px;
}

.thumbs-up:checked + label {
  color: #1512B8;
  font-size: 15px;
}

.sign-up-illustration {
  position: relative;
  left: 370px;
  top: -370px;
  height: 350px;
  width: 100%;
}
