.navbar-mentoree {
  justify-content: space-between;
  background: white;
  height: 10vh;
}

.navbar-mentoree .navbar-collapse {
  flex-grow: 0;
}

.navbar-mentoree .navbar-brand img {
  width: 120px;
}
