
.nav_links {
  margin: 10px;

}

li, a, {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 15px;
  color: #131313;
  text-decoration: none;
  display: inline;
  padding: 1vw;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 5%;
}

.nav-title {
  align-content: flex-start;
}

.item-1 {
  align-content: left;
}

h2 {
  font-family: "Suez One";
  font-size: 40px;
}
