.card-mentor-big {
  width: auto;
}

.card-mentor-big h3 {
  text-align: left;
  margin: 0;
}

.card-mentor-big h4 {
  text-align: left;
  margin: 0;
}

.card-mentor-big p {
  text-align: left;
}

.stats-mentor {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}

.card-mentor-big .stats-mentor h3 {
  text-align: right;
}

.card-profile {
  padding: 16px;
}

.profile-info {
  border-top: 1px solid $m-dark-grey;
  border-bottom: 1px solid $m-dark-grey;
  margin: 0 16px;
}

.date-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.date-buttons .btn {
  margin-top: 8px;
  width: 40%;
}
