.card-mentor-big h3 {
  text-align: left;
  margin: 0;
}

.card-mentor-big h4 {
  text-align: left;
  margin: 0;
}

.card-mentor-big p {
  text-align: left;
}

.mentor-avatar-big {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

