.card-mentor-big {
  width: auto;
}

.card-mentor-big h3 {
  text-align: left;
  margin: 0;
}

.card-mentor-big h4 {
  text-align: left;
  margin: 0;
}

.card-mentor-big p {
  text-align: left;
}

.card-mentor-big .stats-mentor {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.card-mentor-big .stats-mentor h3 {
  text-align: right;
}

