// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  font-family: "Suez One";
  font-size: 40px;
  color: $m-dark-grey;
}

.h1-homepage {
  font-family: "Suez One";
  font-size: 50px;
  color: $m-dark-grey;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  color: $m-dark-grey;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $m-dark-grey;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: $m-dark-grey;
}


p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: $m-dark-grey;
}

.paragraph-light {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: $m-dark-grey;
}

.paragraph-note {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: $m-dark-grey;
}

.paragraph-italic {
  font-family: 'Work Sans', sans-serif;
  font-style:  italic;
  font-weight: 400;
  font-size: 17px;
  color: $m-dark-grey;
}

body {
  margin: 0;
  background-color: $m-tan;
}

// li, a, {
//   font-family: "Work Sans";
//   font-weight: 600;
//   font-size: 18px;
//   text-decoration: none;
// }

a {
  text-decoration: none;
  color: rgb(20,20,20)
}

a :hover {
  text-decoration: none;
  color: rgb(20,20,20)
}

a .navbar-anchor {
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.container {
  margin: 30px auto;

}
